<!DOCTYPE html>

{% extends 'base.html' %}

{% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>Brandon Kim Homepage</h1>
  </div>
</div>
<div class="row mt-5">
  {% if request.session.user %}
   <div class="col-12">
    <button class="btn btn-primary btn-block" onclick="location.href='/bkuser/logout/'">Logout</button>
  </div>
  {% else %}
  <div class="col-6">
    <button class="btn btn-primary btn-block" onclick="location.href='/bkuser/login/'">Login</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary btn-block" onclick="location.href='/bkuser/register/'">Register</button>
  </div>
  {% endif %}
</div>
<div class="row mt-1">
  <div class="col-12">
    <button class="btn btn-primary btn-block" onclick="location.href='/board/list/'">View Board</button>
  </div>
</div>
{% endblock %}